/*Css ejemplo base*/
.contenedorBoton {
  margin: 1em 1em;
}

.estiloBoton {
  display: inline-block;
  box-sizing: border-box;
  padding: 0.25em 2em;
  margin: 0;
  border: 0;
  text-decoration: none;
  user-select: none;
  cursor: pointer;
  outline: 0;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #FFF;
  background: rgba(241, 104, 118, 1);
}

.estiloBoton:hover {
  opacity: 0.5;
  color: #FFF;
}
